<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminlist_super">
	<!-- 관리자 수 세기 -->
	<select id="count" resultType="int">
		select count(*) from admin
	</select>

	<!-- Paging 기법을 이용한 관리자 출력 -->
	<select id="list" parameterType="Map"
		resultType="adminlist_super_vo">
		select * from (
		select rownum r_num, a.*
		from(select * from
		admin order by admin_idx desc) a
		) where r_num between #{begin} and
		#{end}
	</select>

	<!-- 관리자 생성 -->
	<insert id="admincreate" parameterType="adminlist_super_vo">
		insert into
		admin(admin_idx,
		admin_id, admin_pwd, admin_salt, admin_nickname,
		admin_datetime)
		values(admin_seq.nextval, #{admin_id}, #{admin_pwd},
		#{admin_salt},
		#{admin_nickname}, sysdate)
	</insert>

	<!-- 관리자 삭제 -->
	<delete id="admindelete" parameterType="String">
		delete from admin where
		admin_idx = #{admin_idx}
	</delete>

</mapper>