<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="homepage">

<insert id="insert" parameterType="hvo">
    INSERT INTO room (
        room_idx, room_title, category_type, room_count, room_region, room_gender, start_datetime,
        end_datetime, room_longitude,room_latitude, room_content, write_datetime, close_ok, u_nickname, u_idx,
        final_datetime, begin_datetime)
    VALUES (
        room_seq.nextval, #{room_title}, #{category_type}, #{room_count}, #{room_region}, #{room_gender},
        TO_DATE(#{start_datetime},'HH24:MI:SS'), TO_DATE(#{end_datetime}, 'HH24:MI:SS'), #{longitude},#{latitude}, #{room_content},
        SYSDATE, #{close_ok}, #{u_nickname}, #{u_idx},
        TO_DATE(#{final_datetime}, 'HH24:MI:SS'),SYSDATE)
</insert> 



	<select id="getList" resultType="hvo">
	select * from room order by room_idx
	</select>
	
	
	<select id="getHashForRoomMake" parameterType="String" resultType="String">
	select u_nickname from users where u_hash = #{hash}
	</select>
	
	<insert id="insert1" parameterType="avo">
	  insert into notification(
	    not_idx, not_type, not_message, not_datetime, not_read_datetime, not_url, u_idx, target_u_idx, room_idx, post_idx, report_pro_idx ,not_check
	  )
	  values(
	    notification_seq.nextval,  #{not_type},  #{not_message}, #{not_datetime}, #{not_read_datetime}, #{not_url}, #{u_idx}, 
	    #{target_u_idx}, #{room_idx}, #{post_idx}, #{report_pro_idx},#{not_check}
	  )
	 </insert>
	
	
</mapper>





