<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">


<select id="email" parameterType="String" resultType="Integer">
 select count(*) from loginuser where u_email = #{a}
</select>

<select id="nick" parameterType="String" resultType="Integer">
 select count(*) from loginuser where u_nickname = #{a}
</select>
 <insert id="getReg" parameterType="vo">
        INSERT INTO loginuser (u_idx,u_email, u_pwd, u_name, u_gender, u_bday, u_nickname, u_region, u_firstPtime, u_lastPtime, u_sns,admin_idx)
        VALUES (login_idx.nextval,#{email}, #{password}, #{name}, #{gender}, TO_DATE(#{birthday}, 'YYYY-MM-DD'), #{nickName}, #{region}, #{pTime}, #{pTime2},'이메일',0)
</insert>
<select id="getLog" parameterType="vo" resultType="Integer">
select count(*) from loginuser where u_email=#{email} and u_pwd = #{password}
</select>
	
	
</mapper>





