<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">


<select id="email" parameterType="vo" resultType="Integer">
 select count(*) from users where u_email = #{email} and u_sns_type=#{sns_type}
</select>

<select id="nick" parameterType="String" resultType="Integer">
 select count(*) from users where u_nickname = #{a}
</select>
 <insert id="getReg" parameterType="vo">
INSERT INTO users (u_idx,u_email, u_pwd,u_salt, u_name, u_gender, u_bday, u_nickname, u_region, u_ptime, u_ptime2, u_sns_type,admin_idx,u_like_category,u_cert)
VALUES (users_seq.nextval,#{email}, #{password},'abcabc', #{name}, #{gender}, TO_DATE(#{birthday}, 'YYYY-MM-DD'), #{nickName}, #{region}, #{pTime}, #{pTime2},#{sns_type},0,#{getCat},#{emailConf})
</insert>
<select id="getLog" parameterType="vo" resultType="Integer">
select count(*) from users where u_email=#{email} and u_pwd = #{password}
</select>
<select id="getAdmin" parameterType="vo" resultType="Integer">
select count(*) from users where u_email=#{email} and u_pwd = #{password} and admin_idx =1
</select>	
<select id="getKakao" parameterType="vo" resultType="Integer">
select count(*) from users where u_email=#{email} and u_sns_type='kakao'
</select>	
<select id="getNaver" parameterType="vo" resultType="Integer">
select count(*) from users where u_email=#{email} and u_sns_type='naver'
</select>	
	
</mapper>





